.bi-filetype-csv{
    font-size: xx-large;
    color: rgb(67, 185, 67)
}

.bi-trash{
    color: red;
    font-size: x-large;
}

h6{
    font-size: large;
}

.list-group-item{
    border-color: rgba(255, 255, 255, 0.05);
    background-color: rgb(231 235 240);
}

.well{
    padding: 1.5rem;
    background-color: rgb(231 235 240);
    border-radius: .5rem;
}

ul{
    width: 100%;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
}
